{
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "rules": {
        // enable additional rules
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],

        // override default options for rules from base configurations
        "comma-dangle": ["error", "never"],
        "no-cond-assign": ["error", "always"],

        // disable rules from base configurations
        "no-console": "off",

        "no-unused-vars": [2, {"vars": "local", "args": "after-used"}],
    },
    "globals": {
        "static": true,
        "window": true,
        "document": true,
        "console": true,
        "$": true,
        "jquery": true,
        "$scope": true,
        "$inject": true,
        "$http": true,
        "$router": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "env": {
        "browser": true,
        "jquery": true,
        "es6": true
    }
}