div(class='row')
  div(class='content')
    div(class='heading') Login or register to chat:
    div(class='btn-container')
      a(href='/auth/google' class='btn-google')
        i.fa-brands.fa-google-plus-g(aria-hidden='true')
        | Google
    div(class='btn-container')
      a(href='/auth/facebook' class='btn-facebook')
        i.fa-brands.fa-facebook(aria-hidden='true')
        | Facebook
    div(class='btn-container')
      a(href='/auth/github' class='btn-github')
        i.fa-brands.fa-github(aria-hidden='true')
        | GitHub
